@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --cardbgfirst: rgb(254, 254, 254);
  --cardbgsecond: radial-gradient(
    circle,
    rgba(254, 254, 254, 1) 0%,
    rgba(228, 228, 228, 1) 100%
  );
  --cardtext: black;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "lato", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-centered {
  text-align: center;
}

.text-white {
  color: white;
}

.margin-centered {
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.centered {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.inline-block {
  display: inline-block;
}

.text-light {
  font-weight: 300;
}

.spinner-bg {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -140px;
  margin-left: -130px;
}

.inner-page {
  padding-top: 80px;
  width: 95%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.mountain-background {
  min-height: 100vh;
  width: 100vw;
  background-image: url("/mountain3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1;
}

.saved-card {
  width: 100%;
  color: var(--cardtext);
  background: rgb(254, 254, 254);
  display: relative;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
}

.mountain-filter {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  overflow-y: scroll;
}

.MuiAppBar-positionFixed {
  background-color: rgb(0.2, 0.3, 2, 0.2) !important;
  display: sticky;
}

.MuiDrawer-paperAnchorLeft {
  background-color: rgb(0.2, 0.3, 2, 0.6) !important;
}

.css-kzf2d7-MuiInputBase-root-MuiOutlinedInput-root {
  color: white;
}

.css-3v5nb6-MuiFormLabel-root-MuiInputLabel-root {
  color: white;
}

.css-1lwa3th-MuiFormLabel-root-MuiInputLabel-root {
  color: white;
}

#outlined-basic {
  color: white;
}

#outlined-basic-label {
  color: white;
}

.footer {
  width: 100vw;
  height: 100px;
  background-color: lightcyan;
  padding: 20px;
  text-align: center;
}

.score-gauge {
  width: 230px;
  justify-content: center;
  display: flex;
}

.score-gauge-header {
  padding-top: 50px;
  color: white;
  position: absolute;
  font-size: 1em;
  max-width: 100px;
  font-weight: 300;
  text-align: center;
}

.score-gauge-text {
  padding-top: 65px;
  color: white;
  position: absolute;
  font-size: 3.5em;
  max-width: 100px;
  font-weight: 600;
}

.score-gauge-subheader {
  padding-top: 148px;
  color: white;
  position: absolute;
  font-size: 0.8em;
  max-width: 100px;
  font-weight: 300;
}

.score-gauge-header-small {
  padding-top: 30px;
  color: white;
  position: absolute;
  font-size: 0.9em;
  max-width: 100px;
  font-weight: 300;
  text-align: center;
}

.score-gauge-text-small {
  padding-top: 55px;
  color: white;
  position: absolute;
  font-size: 2em;
  max-width: 100px;
  font-weight: 600;
}

.score-gauge-subheader-small {
  padding-top: 148px;
  color: white;
  position: absolute;
  font-size: 0.8em;
  max-width: 100px;
  font-weight: 300;
}

.score-shelf {
  background-color: rgb(0.2, 0.3, 2, 0.2) !important;
  justify-content: center;
  display: flex;
}

.ring {
  transition: 1s ease-in-out;
}

h3 {
  padding: 0;
  margin: 5px;
}

.scrore-card {
  min-height: 205px !important;
  margin-left: 20px;
  margin-right: 10px;
  min-width: 280px;
  max-width: 280px;
  border-radius: 5px;
  padding-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
  text-align: left;
  font-size: 14px;
  color: var(--cardtext);
  background: var(--cardbgfirst);
  background: var(--cardbgsecond);
}

.score-card-container {
  padding-bottom: 20px;
  overflow-x: scroll;
  display: flex;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.score-card-container::-webkit-scrollbar {
  display: none;
}

.mot-container {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 20px;
  padding: 20px;
  text-align: left;
  color: var(--cardtext);
  background: var(--cardbgfirst);
  background: var(--cardbgsecond);
}

.line-chart-container {
  border-radius: 10px;
  padding-top: 10px;
  display: flex;
  overflow-x: scroll;
}

.mot-entry-container {
  width: 100%;
  max-height: 300px;
  overflow-x: scroll;
}

.mot-entry-container::-webkit-scrollbar {
  display: none;
}

.mot-entry {
  width: 95%;
  height: 70px;
  background-color: #dfe6e9;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
}

.recharts-default-tooltip {
}

.know-car-container {
  padding: 20px;
  text-align: center;
  color: white;
  background-color: rgb(0.2, 0.3, 2, 0.2) !important;
  padding-bottom: 100px;
}

.score-headers {
  text-align: left;
}

.mileage-score-container {
  border-radius: 20px;
  background-color: rgb(0.2, 0.3, 2, 0.2) !important;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.mileage-text {
  color: white;
  font-weight: 600;
  font-size: 2em;
}

.mileage-sub-text {
  color: white;
  font-weight: 400;
  font-size: 0.7em;
  text-align: center;
}

.score-average-car-score {
  position: relative;
}

.recharts-wrapper {
  margin-left: none;
  margin-right: none;
}

@media only screen and (min-width: 600px) {
  .recharts-wrapper {
    margin-left: auto;
    margin-right: auto;
  }

  .inner-page {
    max-width: 900px;
  }

  .gauges {
    display: flex;
  }

  .score-container-chunk {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .score-headers {
    text-align: center;
  }

  .score-card-container {
    display: flex;
    justify-content: center;
  }

  .mot-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .mountain-background {
    background-size: 100% 100%;
  }
}
